<script type="text/ng-template" id="ac-template.html">
	<a class="searchResult">
		<div class="row">
				<div class="col-sm-2">
						<img ng-src="https://mol.org/static/img/groups/taxa_{{match.label.taxa}}.png"
								err-src="https://mol.org/static/img/groups/taxa_all.png" />
				</div>
				<div class="col-sm-10">
						<div class="commonName" ng-bind-html="((match.label.vernacular) ? match.label.vernacular : '') | uibTypeaheadHighlight:query"></div>
						<div class="sciName" ng-bind-html="match.label.scientificname | uibTypeaheadHighlight:query"></div>
				</div>
		</div>
	</a>
</script>

<script type="text/ng-template" id="popup-template.html">
  <div class="custom-popup-wrapper">
		 <ul class="dropdown-menu ng-isolate-scope"
		 		ng-show="isOpen() && !moveInProgress"
				style="position:absolute;"
				ng-style="{top: position().top+'px', right: position().right+'px'}"
				role="listbox" aria-hidden="false"
				uib-typeahead-popup=""
				matches="matches" active="activeIdx"
				select="select(activeIdx, evt)"
				move-in-progress="moveInProgress" query="query"

				assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" template-url="ac-template.html">
     </ul>
  </div>
</script>



<input type="text" class="form-control" style="min-width:258px;"
	autocomplete="on"
	ng-model="selected.value"
	placeholder="Search for a species"
	uib-typeahead="species.scientificname as species for species in searchSpecies(($viewValue)?$viewValue:'.')"
	typeahead-on-select="selectSpecies($model)"
	typeahead-template-url="ac-template.html">
