<table class="search"><tr>
    <td>
    <select class="form-control" ng-model="groups.selected"
    >     <option disabled ng-value='null'>Select a group...</option>
          <option
            ng-selected="(group.value === $parent.groups.selected)"
            ng-value="group.value" ng-repeat="group in groups.available">
                {{ group.label.replace('fishs','fish') | capitalize}}
          </option>
    </select>
    </td>
    <td><span class="form-group">
          <div ng-include="'mol-species-search-autocomplete.html'"></div>
    </span></td>
    <!--<td class="hidden-xxs">
      <button type="button" ng-click="randomSpecies()" class="random top_button btn btn-default">Pick random</button>
    </td>-->
</tr></table>
