<table class="search"><tr>
    <td>
    <select class="form-control" ng-model="groups.selected">
          <option ng-selected="groups.selected==null" value="" disabled>Select a group...</option>
          <option ng-selected="group.value === groups.selected.value" ng-value="group" ng-repeat="group in groups.available">
                {{ group.label | capitalize}}
          </option>
    </select>
    </td>
    <td><span class="form-group">
          <div ng-include="'mol-species-search-autocomplete.html'"></div>
    </span></td>
    <td class="hidden-xxs">
      <button type="button" ng-click="randomSpecies()" class="random top_button btn btn-default">Pick random</button>
    </td>
</tr></table>
