<script type="text/ng-template" id="ac-region-template.html">
	<a class="searchResult">
	    <span class="commonName" ng-bind-html="match.label.name | uibTypeaheadHighlight:query"></span>
	</a>
</script>

<input type="text" class="form-control" style="max-width:158px;"
	autocomplete="on"

	ng-show="regions.available"
	ng-model="regions.selected.name"
	placeholder="Search for a region"
	typeahead-wait-ms="500"
	uib-typeahead="region for region in regions.available | filter:$viewValue | limitTo:20"
	typeahead-on-select="selectRegion($model)"
	typeahead-template-url="ac-region-template.html">
